@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

// global config
$body-bg: #FFF5E7 !important;
$body-font-family: 'Montserrat', sans-serif !important;
$body-font-weight: 500 !important;
$body-font-color: #86766C !important;

// player topbar
$topbar-bg: #86766C !important;
$topbar-font-family: 'Sorts Mill Goudy', serif;
$topbar-font-color: #D9D6C5 !important;
$topbar-font-weight: bold;

// player controls wrapper
$player-footer-bg: transparent;

// screen header
$screen-header-bg: transparent;
$screen-header-border-bottom: 1px solid #86766C !important;
$screen-header-font-family: 'Montserrat', sans-serif !important;
$screen-header-font-color: #86766C !important;
$screen-header-font-weight: 500 !important;

// prompt
$prompt-font-color: #C21F27 !important;
$prompt-font-weight: unset;

// list and tile items
$list-item-bg: rgba(217, 214, 197, 0.5) !important;
$list-item-hover-bg: rgba(200, 203, 198, 0.3) !important;
$list-item-checked-bg: rgba(200, 203, 198, 0.3) !important;
$list-item-border: 1px solid #ECD18B !important;
$list-item-border-radius: 3px;

// quiz responses
$quiz-wrong-answer-bg: rgba(199, 120, 120, 0.7) !important;
$quiz-correct-answer-bg: rgba(93, 128, 36, 0.7) !important;
$quiz-wrong-answer-font-color: #5B0000FF !important;
$quiz-correct-answer-font-color: #233B07FF !important;
$quiz-wrong-answer-border: 1px solid #5B0000FF !important;
$quiz-correct-answer-border: 1px solid #233B07FF !important;

// simple screen - dominant element btn
//$dominant-element-bg: #D9D6C5 !important;
$dominant-element-bg: #86766C !important;

// guideme
$guideme-prompt-bg: transparent;


// redirect ** to /experience/04e102ad00a2eec9bde871b07d003fe8
// db = "hunterian_museum"
// deployment path /dev/hunterian
// logo: Hunterian_UofG_WHITE_LOCKUP.png
// height="40" - large logo layout
